:root {
  --bg-navbar: #177f87;
  --color-navbar: #ffffff;
  --bg-header: #ffffff;
  --color-header: #808080;
  --bg-body: #d9d9d9;
  --color-header: #000000;
  --color-h1: #177f87;
  --color-h2: #ffffff;
  --color-h3: #177f87;
  --bg-login-form: #177f87;
  --color-login-form: #ffffff;
  --color-input-effect: #969696;
  --color-input-submit: #ffffff;
  --bg-input-submit: #17adaa;
  --color-input-submit-hover: #f5f5f5;
  --bg-input-submit-hover: #246362;
  --color-input-title: #177f87;
  --color-input-placeholder: #595f6e;
  --color-input: #595f6e;
  --bg-footer: #177f87;
  --color-footer: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-body);
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  color: var(--color-h2);
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Calibri';
}

h3 {
  margin-top: 10px;
  font-size: 12px;
  color: var(--color-h3);
  text-align: center;
}

h4 {
  display: inline-block;
}

a {
  color: var(--color-navbar);
  text-decoration: none;
}

nav {
  min-width: 320px;
  background-color: var(--bg-navbar);
  color: var(--color-navbar);
  max-height: 100px;
  margin: 0;
  padding: 2px 0 2px 8px;
  font-size: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2px 0 2px 6px;
}

nav ul li:last-child {
  margin-left: 30px;
}

nav ul li p {
  display: inline-block;
}

nav ul li img {
  max-height: 20px;
  max-width: 30px;
}

nav ul li h4 {
  color: var(--color-navbar);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  max-width: fit-content;
}

header {
  background-color: var(--bg-header);
  min-width: 1092px;
  vertical-align: middle;
  padding-left: 20px;
}

header ul {
  list-style-type: none;
  vertical-align: middle;
}

header ul li {
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 6px;
  font-family: 'Calibri';
  font-size: 5px;
  vertical-align: middle;
}

header a:hover {
  text-decoration: underline;
}

header ul li {
  margin-top: 0px;
}

header a {
  font-size: 12px;
  color: var(--color-header);
  text-decoration: none;
  margin: auto;
  margin-left: 15px;
  font-family: 'Arial';
  vertical-align: middle;
}

header img {
  max-height: 60px;
  margin-top: 3px;
}

.login-form {
  background-color: var(--bg-login-form);
  width: 100%;
  height: 230px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 2px;
  transition: all 0.3s ease;
}

.content-name {
  color: var(--color-input-placeholder);
}

.login-input-form input:focus + .label-name .content-name,
.login-input-form input:valid + .label-name .content-name {
  transform: translateY(-160%);
  font-size: 10px;
  color: var(--color-input-title);
}

.login-input-form input:focus + .label-name::after,
.login-input-form input:valid + .label-name::after {
  transform: translateX(0%);
}

.login-form p {
  margin-top: 5px;
  font-size: 8px;
  font-family: 'Calibri';
  color: var(--color-login-form);
  font-size: 16px;
  text-align: center;
  margin-left: 5px;
}

.login-form p a {
  font-weight: bold;
  color: var(--color-login-form);
  font-size: 16px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-form {
  width: 250px;
  position: relative;
  margin-top: 15px;
  height: 30px;
  overflow: hidden;
}

.login-form input[type='submit'] {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid var(--color-input-submit);
  font-size: 12px;
  border-radius: 10px;
  background-color: var(--bg-input-submit);
  color: var(--color-input-submit);
  font-weight: bold;
}

.login-form input[type='submit']:hover {
  background-color: var(--bg-input-submit-hover);
  color: var(--color-input-submit-hover);
  border: 1px solid var(--color-input-submit-hover);
  cursor: pointer;
}

.login-input-form input::after {
  color: var(--color-input-placeholder);
}

.login-input-form input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--color-input);
  padding-top: 5px;
  border: none;
  outline: none;
}

.login-input-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.login-input-form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid var(--color-input-effect);
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

footer {
  min-width: 320px;
  margin-top: 10px;
  min-height: max-content;
  line-height: 50px;
  background: var(--bg-footer);
}

.contact img {
  width: 120px;
  height: 50px;
  margin-top: 5px;
}

.contact p {
  font-size: 14px;
  color: var(--color-footer);
  text-decoration: none;
  cursor: default;
}

footer ul {
  display: inline-block;
}

@media (min-width: 510px) {
  h2 {
    margin-top: 5px;
    font-size: 25px;
  }

  h3 {
    margin-top: 20px;
    font-size: 16px;
  }

  nav {
    max-height: 100px;
    margin: 0;
    padding: 3px 0 3px 10px;
    font-size: 10px;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 2px 0 2px 6px;
  }

  nav ul li:last-child {
    margin-left: 0px;
  }

  nav ul li p {
    display: inline-block;
  }

  nav ul li img {
    max-height: 20px;
    max-width: 30px;
  }

  nav ul li h4 {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    max-width: fit-content;
  }

  header {
    padding-left: 40px;
  }

  header ul li {
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 20px;
  }

  header a {
    font-size: 14px;
    margin-left: 25px;
  }

  header a:first-child {
    margin-left: 50px;
  }

  header img {
    max-height: 90px;
    margin-top: 5px;
  }

  .login-form {
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .content-name {
    bottom: 0px;
    left: 2px;
  }

  .login-input-form input:focus + .label-name .content-name,
  .login-input-form input:valid + .label-name .content-name {
    transform: translateY(-160%);
    font-size: 16px;
  }

  .login-input-form input:focus + .label-name::after,
  .login-input-form input:valid + .label-name::after {
    transform: translateX(0%);
  }

  .login-form p {
    margin-top: 20px;
    font-size: 8px;
    font-size: 20px;
    margin-left: 0px;
  }

  .login-form p a {
    font-size: 20px;
  }

  .login-input-form {
    width: 300px;
    margin-top: 15px;
    height: 50px;
  }

  .login-form input[type='submit'] {
    margin-top: 15px;
    padding: 10px;
    font-size: 12px;
  }

  .login-input-form input {
    font-size: 14px;
    padding-top: 5px;
  }

  .login-input-form label {
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .login-input-form label::after {
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
  }

  footer {
    margin-top: 20px;
  }

  .contact img {
    width: 112px;
    height: 80px;
    margin-top: 5px;
  }

  .contact p {
    font-size: 14px;
    text-decoration: none;
    cursor: default;
  }
}

@media (min-width: 568px) {
  nav ul li:last-child {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  h3 {
    margin-top: 30px;
    font-size: 20px;
  }

  nav {
    padding: 3px 0 3px 10px;
    font-size: 14px;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 3px 0 3px 20px;
  }

  nav ul li:last-child {
    margin-left: 80px;
  }

  nav ul li h4 {
    font-size: 18px;
  }

  header {
    min-width: 1092px;
    padding-left: 40px;
  }

  header ul {
    list-style-type: none;
    vertical-align: middle;
  }

  header ul li {
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 15px;
  }

  header a {
    font-size: 16px;
    margin-left: 50px;
  }

  header a:first-child {
    margin-left: 100px;
  }

  header img {
    max-height: 120px;
    margin-top: 5px;
  }

  .login-form {
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .content-name {
    bottom: 0px;
    left: 2px;
  }

  .login-input-form input:focus + .label-name .content-name,
  .login-input-form input:valid + .label-name .content-name {
    transform: translateY(-160%);
    font-size: 16px;
  }

  .login-input-form input:focus + .label-name::after,
  .login-input-form input:valid + .label-name::after {
    transform: translateX(0%);
  }

  .login-form p {
    margin-top: 20px;
    font-size: 8px;
    font-size: 20px;
    margin-left: 0px;
  }

  .login-form p a {
    font-size: 20px;
  }

  .login-form form {
    width: 400px;
  }

  .login-input-form {
    width: 400px;
    margin-top: 15px;
    height: 50px;
  }

  .login-form input[type='submit'] {
    margin-top: 15px;
    padding: 10px;
    font-size: 12px;
  }

  .login-input-form input {
    font-size: 14px;
    padding-top: 5px;
  }

  .login-input-form label {
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .login-input-form label::after {
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
  }

  footer {
    margin-top: 30px;
    line-height: 50px;
    background: rgb(23, 127, 135);
  }

  .contact img {
    width: 200px;
    height: 100px;
    margin-top: 5px;
  }

  .contact p {
    font-size: 16px;
  }

  footer ul {
    display: inline-block;
  }
}

@media (min-width: 1092px) {
  nav ul li {
    margin-left: 50px;
  }

  nav ul li:last-child {
    margin-left: 250px;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
  }
}

/* .login-form {
  background-color: rgb(23, 127, 135);
  width: 100%;
  height: 300px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.login-input-form input:focus + .label-name .content-name,
.login-input-form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: rgb(23, 127, 135);
}

.login-input-form input:focus + .label-name::after,
.login-input-form input:valid + .label-name::after {
  transform: translateX(0%);
}

.login-form p {
  margin-top: 15px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-form {
  width: 300px;
  position: relative;
  margin-top: 15px;
  height: 50px;
  overflow: hidden;
}

.login-form input[type='submit'] {
  margin-top: 15px;
}

.login-input-form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.login-input-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.login-input-form label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid rgb(150, 150, 150);
  transform: translateX(-100%);
  transition: transform 0.6s ease;
} */
