:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: white;
  --text-secondary: #ececec;
  --bg-primary: rgb(23, 127, 135);
  --bg-secondary: #141418;
  --bg-button: rgb(23, 127, 135);
  --bg-button-hover: rgb(10, 91, 97);
  --color-primary: rgb(10, 91, 97);
}

body {
  color: black;
  background-color: rgb(235, 255, 255);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

.form-insert-client p {
  color: var(--color-primary);
}

.form-input-radio-client label {
  color: var(--color-primary);
}

.form-insert-client input {
  display: block;
}

.form-insert-client input[type='submit'] {
  display: inline;
}

.form-input-radio-client input[type='radio'] {
  display: inline;
}

.form-insert-client input[type='radio'] {
  display: inline;
}

.form-input-insert-client-container input[type='radio'] {
  display: inline;
}

.form-input-insert-client-container label {
  display: inline;
}

.form-input-insert-client-container input:last-child {
  margin-bottom: 20px;
}

.form-button-insert-client-container input {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--bg-button);
  color: white;
  margin: 20px;
}

.form-button-insert-client-container input:hover {
  background-color: var(--bg-button-hover);
  cursor: pointer;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.3);
  transition: 600ms ease;
}

.link-text {
  display: none;
  margin: 1rem;
  width: 9rem;
}

.nav-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.nav-link:hover {
  background-color: rgb(10, 91, 97);
  color: var(--text-secondary);
  filter: grayscale(0%) opacity(1);
}

h1 {
  color: rgb(10, 91, 97);
}

/*tela de celular*/

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/*tela de pc*/

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5em;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
  }
}
